<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="board">
            <h2><span>Board</span> {{ board.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ board.title }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ board.description }}</span>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{ board.creationDate }}</span>
                </dd>
                <dt><span>Topic</span></dt>
                <dd>
                    <div *ngIf="board.topic">
                        <a [routerLink]="['/topic', board.topic?.id, 'view']">{{ board.topic?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/board', board.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
